{% extends "base.html" %}

{% block styles %}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
{% endblock styles %}

{% block page_title %}
    {{ title }}
{% endblock page_title %}   

{% block content %}
    <h1 style="color:red">
        {{ title }}
        {% if user.is_authenticated %}
            <h3>{{ user.username }} || <a href="{% url "products:logout" %}">Logout</a></h3>
        {% else %}
            <h3><a href="{% url "products:authentication" %}">Login</a></h3>
        {% endif %}
    </h1>

    <a href="{% url "products:new" %}">Add new product</a>

    <ul>
        <!-- Templates engine Django-->
        {% for pr in object_list %}
            <li>
                <!-- tag de django para llamar a una vista, que enviará a una URL para obtener el detalle del producto -->
                <a href="{% url "products:detail" pr.id %}">{{ pr.name }}</a>
                 | {{ pr.description }}
                <img src="{{ pr.image.url }}" alt="">
            </li>
        {% endfor %}
    </ul>
{% endblock content %}