<!DOCTYPE html>
<html lang="en">
<head>
    {% block styles %}
    
    {% endblock styles %}
    <!--{% load staticfiles %}-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block page_title %}{% endblock page_title %}</title>
    <!-- aqui se observa como se utiliza el tag para cargar un css utilizando django -->
    <!--<link rel="stylesheet" href="{% static 'css/base.css' %}"> -->
</head>
<body>
    <section>
        {% block content %}
        
        {% endblock content %}
    </section>
</body>
</html>