<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hello World</title>
</head>
<body>
    <h1 style="color:red">
        Hola
    </h1>
    <ul>
        <!-- Templates engine Django-->
        {% for pr in product %}
            <li>
                {{ pr.name }} | 
                {{ pr.description }}
            </li>
        {% endfor %}
    </ul>
</body>
</html>