{% extends "base.html" %}

{% block styles %}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
{% endblock styles %}

{% block page_title %}
    {{ title }}
{% endblock page_title %}   

{% block content %}
    <h1 style="color:red">
        {{ title }}
    </h1>
    <ul>
        <!-- Templates engine Django-->
        {% for pr in product %}
            <li>
                <!-- tag de django para llamar a una vista, que enviará a una URL para obtener el detalle del producto -->
                <a href="{% url 'product_detail' pr.pk %}">{{ pr.name }}</a>
                 | {{ pr.description }}
                <img src="{{ pr.image.url }}" alt="">
            </li>
        {% endfor %}
    </ul>
{% endblock content %}